<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023684655079-k3dpnt7rrgrsttjdccghjm9uejna0vso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023684655079-k3dpnt7rrgrsttjdccghjm9uejna0vso</string>
	<key>API_KEY</key>
	<string>AIzaSyAsd3voj9YmPdkBH6J5xQ-WjYehbf8PJbI</string>
	<key>GCM_SENDER_ID</key>
	<string>1023684655079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>we.rashchenko.buboc</string>
	<key>PROJECT_ID</key>
	<string>buboc-f5b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>buboc-f5b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023684655079:ios:f6e6879919365e98d8ef42</string>
</dict>
</plist>