local.properties
.idea
iosBUBOC/Podfile.lock
iosBUBOC/Pods/*
iosBUBOC/iosBUBOC.xcworkspace/*
iosBUBOC/iosBUBOC.xcodeproj/*
!iosBUBOC/iosBUBOC.xcodeproj/project.pbxproj
shared/shared.podspec
/kotlin-js-store/
/.gradle/
/shared/build/cocoapods/framework/shared.framework/
/androidApp/build/
/build/
/desktopApp/build/
/jsApp/build/
/shared/build/
/androidBUBOC/build/
/desktopBUBOC/build/
/jsBUBOC/build/
/sharedBUBOC/build/
/sharedBUBOC/shared.podspec
/sharedBUBOC/sharedBUBOC.podspec
